<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="alerts">
            <uib-alert ng-repeat="alert in vm.alerts" type="{{::alert.type}}"
                       close="vm.removeAlert($index)"
                       template-url="utils/alerts/views/alert.tmpl.html">
                {{::alert.message}}
            </uib-alert>
        </div>
        <div class="login-panel panel panel-default">
            <div class="panel-heading">Відкрити зміну</div>
            <div class="panel-body">
                <form name="form" novalidate="novalidate">
                    <formly-form model="vm.userModel" fields="vm.userFields" form="form">
                        <button type="submit" class="btn btn-warning" ng-disabled="form.$invalid"
                                ng-click="vm.logIn()">
                            Увійти
                        </button>
                    </formly-form>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!-- /.row -->